/* this css is for App.js */

.App {
  font-family: sans-serif;
  color: darkgreen;
  text-align: center;
}

p {
  font-size: smaller;
}

/* this css is for SearchEngine.js */

.SearchEngine {
  font-family: sans-serif;
  color: darkolivegreen;
  text-align: center;
}

form {
  text-align: center;
}

li {
  text-align: center;
  list-style-type: none;
}
